.topContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}


.topText{
position: absolute;
background-color: white;
width: 500px;
border-width: 1px;
border-color: rgb(233, 190, 89);
border-style: solid;
text-align: center;
padding: 20px;
}

.bookmarkIcon{
    cursor: pointer;
}

.bookmarkIcon:hover{
    opacity: 0.6;
}